*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:#131921;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.nav-logo{
    height:50px;
    width:110px;
    background-image: url("Resources/amazon_logo.png");
    background-size: cover;
    padding-bottom:10px;
}
.border {
    border: 2px solid transparent; 
    transition: border-color 0.3s ease; 
}
.border:hover{
    border : 2px;
    border-style: solid;
    border-color: white;
}

.nav-address{
    align-items:center;
}
.add-first{
    color:#FFF;
    font-size:0.8rem;
    margin-left:20px;
}
.add-second{
    color:#dacccc;
    font-size:1.2rem;
    margin-left:7px;
}
.icon{
    color:#FFF;
    display:flex;
    align-items: center;
}

.nav-search{
    display:flex;
    background-color:orange;
    border-radius:5px;
}
.search-input:focus{
    border : 4px;
    border-style: solid;
    border-color: orange; 
}
.search-select{
    width:40px;
    text-align: center;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.search-icon{
    margin:10px;
    font-size:1.2rem;
    align-items: center;
}
.search-input{
    width:700px;
    padding:10px;
    font-size: 15px;
    outline: none
}
.nav-signin{
    color:white;
}

.nav-first{
    font-size:0.75rem;
}
.nav-second{
    font-size:0.9rem;
    font-weight:700;
}

.cart{
    display:flex;
    font-size: 30px;
    color:white
}
.cart-text{
    padding:5px;
    font-size:1rem;
    font-weight:700;
    margin-top:10px;
}


.panel{
    height:40px;
    width:auto;
    background-color:#232f3e;
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-evenly;
}
.panel-items p{
    display:inline;
    margin-left: 10px;
}
.panel-items{
    width:75%
}
.panle-deals{
    margin:20px;
}

/*hero-section*/

.hero-section{
    background-image: url("Resources/hero_image.jpg");
    background-size: cover;
    height:350px;
    display:flex;
    justify-content:center;
    align-items: flex-end;
}
.text{
    background-color:white;
    height:40px;
    width:80%;
    align-items:center;
    justify-content:center;
    display:flex;
    margin-bottom:30px;
}
.click{
    color:blue;
    margin-left:5px;
}


/* box image */
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.shop-section h2{
    margin-left: 10px;
    margin-top:10px;
    margin-bottom:10px;
}
.shop-section p{
    margin-left: 10px;
    margin-top:10px;
    margin-bottom:10px;
}
.box{
    border: 2px black;
    height:400px;
    width:300px;
    background-color: white;
    margin-top:15px;

}
.box-img{
    height:80%;
    width:80%   ;
    background-size:cover;
    margin-left:30px;
    margin-right:40px;
    margin-top:10px;
    margin-bottom:8px;
}


/* Footer */
footer{
    margin-top:15px;
}
.foot-panel1{
    height:40px;
    background-color: #37475A;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.foot-panel2{
    display:flex;
    height:200px;
    background-color: #232F3E;
    color:white;
    justify-content:space-evenly;
}
.foot-panel2 a{
    display:block;
    margin-top:10px;
    font-size:0.85rem;
    text-decoration: none;
}
.foot-panel2 p{
    font-weight: bold;
}
u{
    margin-top:15px;
    text-decoration: none;
}
.foot-panel3{
    height:60px;
    background-color: #232F3E;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
}
.amazon-logo{
    background-image: url("Resources/amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.foot-panel4{
    background-color:#0a1a2a;
    color:white;
    height:40px;
    text-align: center;
    padding:10px; /* margin:10px  it moving panel4 & gives white space*/
}
.pages a{
    margin-left:15px;
}
